<section>
  <div class="flex items-center justify-between">
    <div>
      <h2 class="font-bold text-licify-gray-2 text-2xl mb-2">
        Proyectos Activos
      </h2>
      <span class="text-gray-400 mb-4 block"
        >En esta sección encontraras todos los proyectos que se encuentran
        disponibles para que puedas aplicar.</span
      >
    </div>
  </div>

  <div class="flex gap-5 flex-wrap justify-center">
    <span *ngFor="let project of projects; let i = index">
      <app-card [data]="project" [activeApply]="true" />
    </span>
  </div>
</section>
